@import "info";
@import "table";
@import "nav";
@import "modal";
@import "animations";

#puzzle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: "Jura", "Open Sans", "Roboto", sans-serif;
}

.puzzle__wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;

  position: relative;

  min-width: $mobile-sm;

  background-color: $puzzle-background;
  border-radius: 20px;
}

// ------- MOBILE ------- //

@media (max-width: $mobile) {
  #puzzle {
    background-color: $puzzle-background;
  }
}

@media (max-width: $desktop-sm) and (orientation: landscape) {
  #puzzle {
    background-color: $puzzle-background;
  }

  .puzzle__wrapper {
    display: flex;
    flex-shrink: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    height: auto;
    padding: 16px;
  }
}
