.puzzle__modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

  display: flex;
  align-items: center;

  padding: 16px;

  background-color: rgba(255, 255, 255, 0.79);

  text-align: center;

  h2 {
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  p {
    text-indent: 24px;
    text-align: justify;
    font-size: 20px;
    font-weight: 500;

    margin-top: 0;
    margin-bottom: 16px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  button {
    border: none;
    border-bottom: 2px solid $link;
    background: none;

    font-size: 24px;
    font-weight: 700;
    color: $link;

    padding-left: 6px;
    padding-right: 6px;
    margin: 16px;

    cursor: pointer;
  }
}

// ------- MOBILE ------- //

@media (max-width: 840px) and (orientation: landscape) {
  .modal__container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
