.puzzle__nav {
  display: flex;
  justify-content: center;
  gap: 2px;

  padding: 16px;
}

.puzzle__nav button {
  padding: 12px;

  font-size: 16px;
  color: white;

  text-align: center;
  text-decoration: none;

  border: none;
  border-radius: 8px;

  cursor: pointer;
  background-color: $hover-color;

  &:hover {
    background-color: $items-color;
  }
  &:focus {
    background-color: $hover-color;
  }
}

// ------- MOBILE ------- //

@media (max-width: $desktop-sm) and (orientation: landscape) {
  .puzzle__nav {
    flex-direction: column;

    padding-right: 0;
  }

  .puzzle__nav button {
    box-sizing: content-box;
    min-width: 70px;
  }
}
