// sizes
$desktop: 1280px;
$desktop-sm: 1024px;
$tablet: 768px;
$tablet-sm: 640px;
$mobile: 480px;
$mobile-sm: 320px;

// colors
$puzzle-background: #efdfc8;
$items-color: #72614c;
$hover-color: #a07b56;
$link: #727272;
